<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NV_CLIENT.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <NV_CLIENT.Properties.Settings>
            <setting name="NV_CLIENT_bsite_NVService" serializeAs="String">
                <value>https://bsite.net/antran2598/NVService.asmx</value>
            </setting>
        </NV_CLIENT.Properties.Settings>
    </applicationSettings>
</configuration>